@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    height: 100%;
    color: #FFF;
    border: none;
    background-color: inherit;

}

.btn-primary:hover {
    backdrop-filter: brightness(120%);

}

.btn-secondary {
    height: 20px;
    color: #FFF;
    border: none;
    background-color: #073b4c;
}

.btn-wrapper {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gallery-name {
    color: #FFF;
    font-size: 2rem;
    width: 50%;
    margin-left: 2vw;
    text-decoration: none;

}

.wrapper {
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    background-color: #073b4c;
    height: 8vh;
}

.image-wrapper {
    margin: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagelink {
    width: 200px;
    height: 125px;
    margin: 1.5vw;
    border-radius: 1vh;
}

.image {
    border-radius: 1vh;
}

.error {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    margin-top: 3vh;
    width: 15vw;

}

.searchbarwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2vh;
    height: 30vh;
    width: 20vw;
}

.form-input label input {
    margin: 1vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-input .btn {
    margin: 1vh;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}